h1 {
  color: red;
  font-size: large;
}

ul {
  padding-left: 24px;
}

input {
  color: azure;
  background-color: indigo;
  height: 34px;
  border: 2px solid black;
  border-radius: 8px;
  padding-left: 8px;
}

button {
  background-color: indigo;
  color: white;
  height: 34px;
  min-width: 128px;
  padding: 4px;
  cursor: pointer;
}
